<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable Generic.WhiteSpace.ScopeIndent.Incorrect

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */

/* @var $viewModel \Mbs\ProductRelated\ViewModel\RelatedProduct */
$viewModel = $block->getData('viewModel');
?>

<?php
switch ($type = $block->getType()) {
    case 'related':
        /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
        if ($exist = $block->getItems()->getSize()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getItems();
            $groupedItemsData = $viewModel->getItemsGroupedByCategory($items);
            $limit = 0;
            $shuffle = 0;
            $canItemsAddToCart = $block->canItemsAddToCart();

            $showAddTo = true;
            $showCart = true;
            $templateType = null;
            $description = false;
        }
        break;
    case 'related-rule':
    case 'upsell-rule':
    case 'upsell':
    case 'crosssell-rule':
    case 'crosssell':
    case 'new':
    default:
        $exist = null;
}
?>

<?php if ($exist) :?>

<?php if ($type == 'related' || $type == 'upsell') :?>
<?php if ($type == 'related') :?>
<div class="block <?= $block->escapeHtmlAttr($class) ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?= $block->escapeHtmlAttr($limit) ?>" data-shuffle="<?= /* @noEscape */ $shuffle ?>">
    <?php else :?>
    <div class="block <?= $block->escapeHtmlAttr($class) ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?= $block->escapeHtmlAttr($limit) ?>" data-shuffle="<?= /* @noEscape */ $shuffle ?>">
        <?php endif; ?>
        <?php else :?>
        <div class="block <?= $block->escapeHtmlAttr($class) ?>">
            <?php endif; ?>
            <div class="block-title title">
                <strong id="block-<?= $block->escapeHtmlAttr($class) ?>-heading" role="heading" aria-level="2"><?= $block->escapeHtml($title) ?></strong>
            </div>
            <div class="block-content content related" aria-labelledby="block-<?= $block->escapeHtmlAttr($class) ?>-heading">
                <div class="products wrapper row grid products-grid products-<?= $block->escapeHtmlAttr($type) ?>">
                    <div class="col-3">
                        <?php foreach ($groupedItemsData as $categoryItemsData): ?>
                            <span data-slug="<?php echo $categoryItemsData->getCategorySlug(); ?>"><?php echo $categoryItemsData->getCategoryName(); ?></span>
                        <?php endforeach ?>
                    </div>
                    <div class="col-9">
                        <?php foreach ($groupedItemsData as $categoryItemsData): ?>
                            <ul class="products list items product-items <?php echo $categoryItemsData->getCategorySlug(); ?>">
                                <?php foreach ($categoryItemsData->getCategoryItems() as $_item) :?>
                                    <?php $available = ''; ?>
                                    <?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related') :?>
                                        <?php if (!$_item->getRequiredOptions()) :?>
                                            <?php $available = 'related-available'; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <?php if ($type == 'related' || $type == 'upsell') :?>
                                        <li class="item product product-item" style="display: none;">
                                    <?php else :?>
                                        <li class="item product product-item">
                                    <?php endif; ?>
                                    <div class="product-item-info <?= /* @noEscape */ $available ?>">
                                        <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
                                        <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product photo product-item-photo">
                                            <?= $block->getImage($_item, $image)->toHtml() ?>
                                        </a>
                                        <div class="product details product-item-details">
                                            <strong class="product name product-item-name"><a class="product-item-link" title="<?= $block->escapeHtml($_item->getName()) ?>" href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                                    <?= $block->escapeHtml($_item->getName()) ?></a>
                                            </strong>

                                            <?= /* @noEscape */ $block->getProductPrice($_item) ?>

                                            <?php if ($showAddTo || $showCart) :?>
                                                <div class="product actions product-item-actions">
                                                    <?php if ($showCart) :?>
                                                        <div class="actions-primary">
                                                            <?php if ($_item->isSaleable()) :?>
                                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)) :?>
                                                                    <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                        <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                    </button>
                                                                <?php else :?>
                                                                    <?php $postDataHelper = $this->helper(Magento\Framework\Data\Helper\PostHelper::class);
                                                                    $postData = $postDataHelper->getPostData($block->escapeUrl($block->getAddToCartUrl($_item)), ['product' => $_item->getEntityId()])
                                                                    ?>
                                                                    <button class="action tocart primary"
                                                                            data-post='<?= /* @noEscape */ $postData ?>'
                                                                            type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                        <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                    </button>
                                                                <?php endif; ?>
                                                            <?php else :?>
                                                                <?php if ($_item->getIsSalable()) :?>
                                                                    <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                                <?php else :?>
                                                                    <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>

                                                    <?php if ($showAddTo) :?>
                                                        <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                                            <?php if ($addToBlock = $block->getChildBlock('addto')) :?>
                                                                <?= $addToBlock->setProduct($_item)->getChildHtml() ?>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    </li>
                                <?php endforeach ?>
                            </ul>
                        <?php endforeach ?>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/x-magento-init">
        {
            "*": {
                "Mbs_ProductRelated/js/handlerelatedproduct": {
                    "firstCategorySlug":"<?php echo $viewModel->getFirstCategorySlug(); ?>"
                }
            }
        }
        </script>

        <?php endif;?>
